.react-tabs__tab-list {
  border-bottom: 1px solid #000;
  margin: 0 0 10px;
  padding: 0;
  background-color: #fff;
}

.cs_invert .react-tabs__tab-list {
  border-bottom: 1px solid #fff;
  background-color: #000;
}


.cs_night .react-tabs__tab-list {
  border-bottom: 1px solid red;
  background-color: #000;
}


.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  background-color: inherit;
  color: inherit;
  border-bottom: 1px solid #000;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left:  12px;
  padding-right:  28px;
  cursor: pointer;
}

.cs_invert .react-tabs__tab {
  border-bottom: 1px solid #fff;
}
.cs_night .react-tabs__tab {
  border-bottom: 1px solid #f00;
}



.react-tabs__tab--selected {
  background-color: inherit;
  color: inherit;
  border: 1px solid #000;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}

.cs_invert .react-tabs__tab--selected {
  border-color: #fff;
  border-bottom: 1px solid #000;
}

.cs_night .react-tabs__tab--selected {
  border-color: #f00;
  border-bottom: 1px solid #000;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}




.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
